.Login
{
    margin: 20%;
}
.LoginBox
{
    margin: 30%;
}

.Login_but
{
    width: 220px;
    height: 30px;
    button-color: #D5D929;
}

.EmailBox
{
    width: 220px;
    height: 30px;
}

.PassBox
{
    width: 220px;
    height: 30px;
}